* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffebd8;
  height: 100vh;
  width: 100vw;
}

.sub-container {
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem 2rem;
}

form input,
select {
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  cursor: pointer;
}

.convertor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 0;
}

.convertor-container img {
  width: 3.3rem;
  text-align: center;
}

.msg p {
  text-align: center;
  font-weight: 700;
}
.msg button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  font-family: sans-serif;
  cursor: pointer;
}

p {
  color: #474646;
  font-weight: 500;
  margin-bottom: 4px;
}
h2 {
  margin-bottom: 10px;
  font-family: 38px;
}

.from,
.to {
  text-align: center;
}
.reverse-btn i {
  rotate: 180deg;
  transition: 0.5s;
  font-size: 1.3rem;
}
